{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-8">

        <div class="card shadow-sm">

            <div class="card-header bg-primary text-white">

                <h3 class="mb-0">
                    Add Lead
                </h3>

            </div>


            <div class="card-body">

                <form method="POST">

                    {% csrf_token %}

                    {{ form.as_p }}


                    <div class="mt-4">

                        <button
                            type="submit"
                            class="btn btn-success">

                            Save Lead

                        </button>


                        <a
                            href="{% url 'lead_list' %}"
                            class="btn btn-secondary">

                            Cancel

                        </a>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}