{% extends "base.html" %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-primary text-white">
        <h3>Policy Form</h3>
    </div>

    <div class="card-body">

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-success">
                Save Policy
            </button>

            <a href="{% url 'policy_list' %}" class="btn btn-secondary">
                Back
            </a>

        </form>

    </div>

</div>

{% endblock %}